{% extends "rango/base.html" %}
{% load staticfiles %}

{% block title %}
	Add Category
{% endblock %}

{% block body_block %}
	{% if user.is_authenticated %}
		<link href="http://v4-alpha.getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
		<div class="jumbotron">
			<h1 class="display-3">Add a Category</h1>
			{% if message %}
				<strong>{{message}}</strong><br/>
			{% endif %}
		</div>
		<form class="form-signin" role="form" id="category_form" method="post" action="{% url 'rango:add_category' %}">
			{% csrf_token %}
			{% for hidden in form.hidden_fields %}
				{{ hidden }}
			{% endfor %}

			{% for field in form.visible_fields %}
				{{ field.errors }}
				{{ field.help_text }}<br/>
				{{ field }}<br/>
			{% endfor %}
			<br/>

			<br/>
			<button class="btn btn-primary" type="submit" name="submit">Create Category</button>
		</form>
	{% else %}
		You need to <a href="{% url 'rango:login' %}">login</a> to add a category! <br />
	{% endif %}
{% endblock %}